<!DOCTYPE html>
<html>
<head>
<title>~SIW~</title>
</head>
<center><font size = "20" face= "times new roman"><center>
~ SIW ~
<font size = "8" face= "block">
<font color = "#558000">
<Br>Student Information 
<br>
Website
<body background =  "https://assets.entrepreneur.com/content/16x9/822/20151120172744-procrastination-young-man-home-office-laptop-distracted-work-distant.jpeg">

<h1>
<font size = "5" face= "block">
<font color = "brown">
<div id="mySidenav" class="sidenav">
  <a href="http://localhost:3000/register" > <button type ="button"> Register </button></a>
  <br>
  <a href="http://localhost:3000/login" > <button type ="button"> Login </button></a>
  <br>
  <a href="http://localhost:3000/profiles" > <button type ="button">Student Portfolio </button></a>
  
  

</div> 
 <style>body{
   background-size:auto;
   background-repeat:no-repeat;
   background-size : 100%;
 }
 button {
    background-color:#558000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 33.5%;
}

   </style>

 </h1>


</body> 
<body style= "background-color:#ffffff;">
</html>
