<html action="/action_page.php">
  <div class="imgcontainer">
   <center> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmh_7egNSp0Dozx2BbSZTrqnCGg9JzvARu1Ac91Xp2w54iOonQMQ"> 
  </div>
<style>
input[type=text], input[type=password] {
    width: 33.5%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
body{
   background-size:auto;
   background-repeat:no-repeat;
   background-size : 100%;
}
/* Set a style for all buttons */
button {
    background-color:#558000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 22%;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
label{ 
    center
}
</style>
<body background = "https://assets.entrepreneur.com/content/16x9/822/20151120172744-procrastination-young-man-home-office-laptop-distracted-work-distant.jpeg">
 <font size = "5" face= "times new roman">
 <center> <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
    <br>
    <br>

<font size = "5" face= "times new roman">
    <label><b>Password</b></label>
   
    <input type="password" placeholder="Enter Password" name="psw" required>
    <br>
       
        <br>
    <br>

    
    <input type="checkbox" checked="checked"> Remember me
    <br>
    <br>
    <button type="submit">Login</button>
  </div>

      <a href="http://localhost:3000/homepage" >  <button type ="button"> Back </button></a>
    
  </div>
  </body>
</html><center>