<center><img src ="https://templebnaitorah.org/sites/default/files/uploaded_images/education/register-here-button-green.png" >
<br>
<br>
<form action="/action_page.php">
  <div class="container">
    <label><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>
    <br>
    <br>
    <style>
    body{
   background-size:auto;
   background-repeat:no-repeat;
   background-size : 100%;
}
    </style>
    <body background =  "https://assets.entrepreneur.com/content/16x9/822/20151120172744-procrastination-young-man-home-office-laptop-distracted-work-distant.jpeg">
    

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <br>
    <br>

    <label><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
    <br>
    <input type="checkbox" checked="checked"> Remember me
    <br>
    <br>
   <br>

    <div class="clearfix">
    <button type="submit" class="signupbtn">Sign Up</button>
    <br>
      <a href="http://localhost:3000/homepage" > <button type ="button"> Back </button></a>
  <br>
     
    </div>
    <style>
    input[type=text], input[type=password] {
    width: 33.5%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
    body{
   background-size:auto;
   background-repeat:no-repeat;
   background-size : 100%;
 }
 button {
    background-color:#558000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 27%;
}

   </style>
  </div>
</form>